APP_ENV=local
API_BASE_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000

DATABASE_URL=postgresql+psycopg://dafakitchen:dafakitchen@dafa_kitchen_database:5432/dafa_kitchen



META_PIXEL_ID=
META_ACCESS_TOKEN=
META_GRAPH_VERSION=v22.0
META_TEST_EVENT_CODE=

TIKTOK_PIXEL_CODE=
TIKTOK_ACCESS_TOKEN=
TIKTOK_EVENTS_API_URL=https://business-api.tiktok.com/open_api/v1.3/event/track/
TIKTOK_TEST_EVENT_CODE=
TIKTOK_PHONE_HASH_MODE=e164

SNAP_PIXEL_ID=
SNAP_ACCESS_TOKEN=

ENABLE_CAPI=true
ENABLE_SHEETS_WEBHOOK=true

ENABLE_SHEETS_WEBHOOK=true
ORDER_WEBHOOK_URL="https://script.google.com/macros/s/AKfycbxL9V-qTLgth05kU5Adpd1kxgpba-gVz9JZHzNyK81tURKt_HdMjjcmjf4MutejgLcN/exec"
