APP_ENV=local
API_BASE_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000

DATABASE_URL=postgresql+psycopg://dafakitchen:dafakitchen@dafa_kitchen_database:5432/dafa_kitchen



META_PIXEL_ID=
META_ACCESS_TOKEN=
META_GRAPH_VERSION=v22.0
META_TEST_EVENT_CODE=

TIKTOK_PIXEL_CODE=
TIKTOK_ACCESS_TOKEN=
TIKTOK_EVENTS_API_URL=https://business-api.tiktok.com/open_api/v1.3/event/track/
TIKTOK_TEST_EVENT_CODE=
TIKTOK_PHONE_HASH_MODE=e164

SNAP_PIXEL_ID=
SNAP_ACCESS_TOKEN=

ENABLE_CAPI=true
ENABLE_SHEETS_WEBHOOK=true

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-long-password

MAXMIND_CITY_DB_PATH=/app/maxmind/GeoLite2-City.mmdb
MAXMIND_COUNTRY_DB_PATH=/app/maxmind/GeoLite2-Country.mmdb
MAXMIND_ANONYMOUS_IP_DB_PATH=/app/maxmind/GeoLite2-Anonymous-IP.mmdb
MAXMIND_ACCOUNT_ID=
MAXMIND_LICENSE_KEY=
MAXMIND_EDITION_IDS="GeoLite2-City GeoLite2-Country GeoLite2-Anonymous-IP"

VPN_CHECK_URL=
VPN_CHECK_API_KEY=
VPN_CHECK_API_KEY_HEADER=Authorization
ANALYTICS_TARGET_COUNTRY=SA
ANALYTICS_ALLOW_PRIVATE_IPS=false

ENABLE_SHEETS_WEBHOOK=true
ORDER_WEBHOOK_URL="https://script.google.com/macros/s/AKfycbxL9V-qTLgth05kU5Adpd1kxgpba-gVz9JZHzNyK81tURKt_HdMjjcmjf4MutejgLcN/exec"
